<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../components/uikit.ejs"); -%>
    <%- include("../components/jquery.ejs"); -%>
</head>

<body uk-height-viewport class="">
    <%- include("../components/navbar.ejs"); -%>
    <%- include("../components/deletelinks.ejs"); -%>
    <%- include("../components/modal.ejs"); -%>
    
    <div class="uk-container">
        <form action="" id="addform">
            <div class="uk-flex uk-margin-medium-top">
                <input class="uk-input" type="text" placeholder="insert link ..." id="target-link">
                <button class="uk-button uk-button-primary">short</button>
            </div>
        </form>
        <div uk-alert id="alert-data">
            <div class="uk-flex">
                success: your link&nbsp;
                <a class="uk-text-success" id="conversion_id" href="">
                </a>
            </div>
            <div class="uk-flex">
                <div id="token_id">
                    
                </div>
                &nbsp;
                <div class="uk-text-warning">
                    (warning: token can only be viewed once, use it for delete the links and acces statistics page)
                </div>
                
            </div>
        </div>
        <div class="uk-text-small">
            
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#alert-data").hide()
            $("#addform").submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/short",
                    data: {
                        url: $("#target-link").val()
                    },
                    success: function(data) {
                        $("#token_id").html("token: " + data["token"])
                        $("#conversion_id")
                            .html("<%= process.env.SERVER %>" + data["conversion"])
                            .attr("href", "<%= process.env.SERVER %>" + data["conversion"])
                        $("#alert-data").show()
                    },
                    error: function(data) {
                        UIkit.modal.alert(data.responseJSON.message)
                    }
                })
            })

            $("#deleteform").submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/delete",
                    data: {
                        token: $("#target-token-del").val()
                    },
                    success: function(data) {
                        UIkit.modal.alert("deleted")
                    },
                    error: function(e) {
                        UIkit.modal.alert(e.responseJSON.message)
                    }
                })
            })

            // $("#statistics-modal").
        })
    </script>
</body>